$iphone-color: white;
$primary-color: $alizarin;

.svg {
	path {
		fill: white;
	}
}



div#controls {
	color: black;
	display: table;
	margin: 10px auto 25px;
	text-align: center;
	width: 75%;
	
	span {
		display: table-cell;
		font-size: 20px;
		vertical-align: middle;
		
		&#play-btn {
			font-size: 34px;
		}
		
		i {
			cursor: pointer;
		}
	}
}

div#sub-controls {
	color: darken(white, 40%);
	cursor: default;
	font-size: 14px;
	margin: 15px 0 0;
	text-align: center;
	@include user-select(none);
	
	.svg {
		height: 14px;
		position: relative;
		top: 2px;
		width: 14px;
		
		path {
			fill: darken(white, 40%);
		}
	}
	
	i, .svg {
		cursor: pointer;
		margin: 0 15px;
		
		&.active {
			color: $primary-color;
		}
	}
}

div#timeline {
	position: relative;
	margin: 0 auto;
	width: 92.5%;
	
	span {
		color: darken(white, 30%);
		font-size: 7px;
		position: absolute;
		top: -10px;
		
		&#current-time {
			left: 0;
		}
		&#total-time {
			right: 0;
		}
	}
	
	div.slider {
		background-color: darken(white, 50%);
		border-radius: 2px;
		cursor: pointer;
		height: 2px;
		position: relative;
		width: 100%;
		
		div.progress {
			background-color: $primary-color;
			height: 100%;
			pointer-events: none;
			position: absolute;
			width: 0;
			
			div.pin {
				background-color: white;
				border-radius: 8px;
				height: 8px;
				position: absolute;
				pointer-events: all;
				right: -5px;
				top: -3px;
				width: 8px;
				@include box-shadow(0px 1px 1px 0px rgba(0,0,0,0.32));
				@include transition(transform 0.25s ease);
				
				&:active {
					@include transform(scale(1.5));
				}
			}
		}
	}
}
