#title {
    top: 0;
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    align-items: center;
}


#songs ul {
    position: relative;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    overflow: scroll;
    margin: 0;
    padding: 0;
    height: 400px;
    
    border: 2px solid #ccc;
    
    font-size: 16px;
    font-family: Arial, sans-serif;
    
    // Again, this is where the magic happens
    -webkit-overflow-scrolling: touch;
  }
  
  li {
    padding: 10px 20px;
    
    border-bottom: 1px solid #ccc;
    
    &:last-child {
      border-bottom: none;
    }
    
    &:nth-child(even) {
      background: #f8f8f8;
    }
  }

#navbar {
  height: 10vh;
}

#sidebar{
  border: black;
}

#player {
  color:burlywood;
  height: 15vh;
  width:auto;
  position: absolute;
  bottom: 0;
  border: blue;
  border-width: 10px;
  color: aqua;
}
