{% extends 'base.html' %}

{% block content %}
<div class="row container-fixed" style="margin-left: 5mm;">
   <div id="sidebar" class="col-2">
      sidebar
   </div>
   <div class="col-10 ">
      <h3>Playlist</h3>
      <div class="overflow-auto" style="height:65vh">
         <ul id="songs">
            {% for data in songs_data['songs'] %}
            <li>
               <h4> name: {{data["name"]}} </h4>
               <h8>artist: {{data['artist']}}</h8>
               {% if data.get('tags') %}
               <p>
                  {% for tag in data['tags'] %}
                  <span style="color: blue;">{{tag}}</span>
                  {% endfor %}
               </p>
               {% endif %}
            </li>
            {% endfor %}
         </ul>
      </div>

   </div>
   <!-- <div class="col-4">
      <form action="http://localhost:5000/addSong" method="post">
         <label for="text">Song Name</label><br>
         <input type="text" name="name" /><br>
         <label for="text">Artist</label><br>
         <input type="text" name="artist" /><br>
         <input type="submit" value="submit" />
      </form>
   </div> -->
</div>
<div id="player" class="raw container">
   <div class="container">
      <p>song name</p>
      <audio controls>
         <source src="http://localhost:8000/1" type="audio/mp3" />
      </audio>

      <div id="controls">
         <span id="previous-btn"><i class="fa fa-step-backward fa-fw" aria-hidden="true"></i></span>
         <span id="play-btn"><i class="fa fa-play fa-fw" aria-hidden="true"></i></span>
         <span id="next-btn"><i class="fa fa-step-forward fa-fw" aria-hidden="true"></i></span>
      </div>
      <div id="timeline">
         <span id="current-time">--:--</span>
         <span id="total-time">--:--</span>
         <div class="slider" data-direction="horizontal">
            <div class="progress">
               <div class="pin" id="progress-pin" data-method="rewind"></div>
            </div>
         </div>
      </div>


   </div>
</div>

{% endblock %}