{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Welcome to MyMusic {% endblock %}</h1>
<div class="overflow-auto">
   <ul id="songs">
      {% for data in songs_data['songs'] %}
      <li>
         <h4> name: {{data["name"]}} </h4>
         <h8>artist: {{data['artist']}}</h8>
         {% if data.get('tags') %}
         <p>
            {% for tag in data['tags'] %}
            <span style="color: blue;">{{tag}}</span>
            {% endfor %}
         </p>
         {% endif %}
      </li>
      {% endfor %}
   </ul>
   <form action = "http://localhost:5000/addSong" method = "post">
      <label for="text">Song Name</label><br>
      <input type = "text" name = "name" /><br>
      <label for="text">Artist</label><br>
      <input type = "text" name = "artist" /><br>
      <input type = "submit" value = "submit" />
   </form> 
</div>

{% endblock %}